{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
    {epgsql, "4.8.0"},
    {erlydtl, "0.14.0"},
    {epgsql_pool, {git, "https://github.com/wgnet/epgsql_pool.git", {branch, "master"}}},
    {dotenv_config, "2.3.3"},
    {jose, "1.11.10"}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [battleship]}
]}.

{project_plugins, [erlfmt, dialyzer]}.
{erlfmt, [write]}.
