{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
    {epgsql, "4.8.0"},
    {erlydtl, "0.14.0"},
    {pooler, "1.7.0"},
    {dotenv_config, "2.3.3"},
    {jose, "1.11.10"}
]}.

{overrides, [
    {override, jose, [
        {erl_opts, [debug_info, warnings_as_errors, nowarn_deprecated_catch]}
    ]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [battleship]}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.
