header:first-of-type {
  border-bottom: 1px solid var(--color-grey-200);
  margin-bottom: var(--scale-2);
  background-color: var(--color-grey-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Logo */
  & a {
    color: white;
    text-decoration: none;
    margin: var(--scale-2);
    display: block;
    font-size: var(--scale-2);
  }

  & nav a {
    font-size: var(--scale-0);
  }
}
