.battleshipboard, .hitboard {
  border: 0.5px solid #2d6ca0;
  width: 300px;
  height: 300px;
  float: left;
}

.battleshipboard {
  margin-right: 10px;
}

.tileRow {
  float: left;
}

.fleetboard-tile, .hitboard-tile {
  background-color: #4ba9ff;
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #2d6ca0;
  box-sizing: border-box;
}

.fleetboard-tile.droppable-target {
  background-color: #92d2ff;
}

.hitboard .hitboard-tile:hover {
  border: 2px solid #fff757;
}

.fleetboard-tile.hit,.fleetboard-tile.hit:hover {
  background-color: #C0CC28;
  border: 1px solid #2d6ca0;
}

.fleetboard-tile.miss, .fleetboard-tile.miss:hover {
  background-color: #C0CC28;
  border: 1px solid #2d6ca0;
}

.clear-button {
  margin-top: 10px;
  -webkit-user-select: none;  /* Provent button highlighinng Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.clearfix {
  overflow: auto;
}

#ship {
  box-sizing: border-box;
  border: #7f881a 2px solid;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1000;

}

#ship span {
  background: white;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  display: block;
}


#ship.dragged {
  opacity: 0.6;
  border: 2px solid #02ff00;
}

