input {
  padding: var(--size-2);
  border: 1px solid var(--color-grey-400);
  border-radius: var(--radius-xs);
  outline: none;
}

input:focus {
  border: 1px solid var(--color-grey-600);
}

input[aria-invalid='true'] {
  margin-bottom: var(--size-2);
  border: 1px solid var(--color-red-400);
  & + span {
    color: var(--color-red-500);
    font-size: small;
    text-transform: lowercase;
  }
}
