label {
  font-weight: bolder;
  display: grid;
  padding-bottom: var(--scale-0);
  text-transform: capitalize;
  color: var(--color-grey-700);

  &.error {
    color: var(--color-red-600);
    padding-bottom: var(--scale-00);

    input {
      margin-bottom: var(--size-1);
    }
  }

  & input {
    margin-top: var(--size-1);
  }
}
