<section class="player-panel">
  <span>{{$ctrl.playerLabel}}</span>
  <strong id="match-status">{{$ctrl.status}}</strong>
</section>

<section id="map">
  <div id="fleetboard"></div>
  <div id="hitboard" hidden></div>
  <div id="fleet"></div>
</section>

<div id="setup-actions">
  <button
    id="ready"
    ng-click="$ctrl.join()"
    ng-disabled="!$ctrl.boardReady"
  >
    Ready
  </button>
  <button id="random" ng-click="$ctrl.random()">Random</button>
  <button id="reset" ng-click="$ctrl.reset()">Reset</button>
</div>
