<form
  id="register"
  ng-post="/_register"
  ng-if="$ctrl.success === false"
  success="$ctrl.success = true"
>
  <h2>Register form</h2>

  <label ng-class="{ error: errors.username }">
    Username
    <input
      name="username"
      type="text"
      aria-invalid="{{ errors.username !== undefined}}"
      ng-keyup="errors.username = undefined"
    />
    <span>{{ errors.username }}</span>
  </label>

  <label ng-class="{ error: errors.email }">
    Email
    <input
      name="email"
      type="text"
      aria-invalid="{{ errors.email !== undefined}}"
      ng-keyup="errors.email = undefined"
    />
    <span>{{ errors.email }}</span>
  </label>

  <label ng-class="{ error: errors.password }">
    Password
    <input
      name="password"
      type="password"
      aria-invalid="{{ errors.password !== undefined}}"
      ng-keyup="errors.password = undefined"
    />
    <span>{{ errors.password }}</span>
  </label>

  <label ng-class="{ error: errors.repeatpassword }">
    Repeat password
    <input
      name="repeatpassword"
      type="password"
      aria-invalid="{{ errors.repeatpassword !== undefined }}"
      ng-keyup="errors.repeatpassword = undefined"
    />

    <span>{{ errors.repeatpassword }}</span>
  </label>

  <button type="submit">Sign up</button>
</form>

<section ng-if="$ctrl.success">
  Account successfully created. Proceed to <a ng-sref="login">Log in</a>
</section>
